body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  input[type="text"], select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #countriesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .country-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .country-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .country-card h2 {
    font-size: 18px;
    margin: 10px 0;
    padding: 0 10px;
  }
  
  .country-card p {
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0 10px;
  }
  
.dark-mode {
    background-color: #2b3945;
    color: #ffffff;
  }

.world{
  height:4rem;
}